.skillTitle{
    background-color: #F5F1EB;
    color: #C4AFA1;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 35px;
    font-family: 'Abril Fatface', cursive;
}

#left {
    /* border: 1px solid black; */
    background-color: #F5F1EB;
    height: 50vh;
    /* margin: 10px; */
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
}

#right {
    /* border: 1px solid black; */
    background-color: #F5F1EB;
    padding: 40px;
    height: 50vh;
    text-align: center;
    font-size: 16px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Montserrat', sans-serif;
    /* display: flex; */
}
h5 {
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    /* padding: 25px; */
}